:root {
  --vh: 100%;
}

.mobileKeyboard {
  margin-top: 70vh;
}

.App {
  margin: auto;
  max-width: 1200px;
  background-color: rgb(223, 223, 223);
  height: 100vh;
  // @media (max-width: 361px) {
  //   padding: 90% 0 30% 0;
  // }
}
